
@using ClothesWeb.Pagination
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Repository.Model.User>

<h1>Admin Page</h1>

<form asp-controller="Admin" asp-action="searchUser">
    <div class="input-group">
        Search: <input class="form-control" type="text" name="searchText">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Fullname
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-wrapper">
        @foreach (var item in Model)
        {
            <tr class="list-item">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="DetailsUser" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="pagination-container"></div>

